name: Build
on:
  workflow_dispatch:

  push:
    branches:
      - main

  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          # intentionally don't set it to "recursive" as zsa's submodules are
          # managed via their Makefile.
          submodules: true
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: install qmk
        run: |
          python -m pip install qmk
          mkdir -p ./qmk
          
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

      - name: Echo secrets
        run: |
          python -c "import os; file = open('./secrets.h', 'w'); file.write(os.environ['SECRET_H']); file.close()"
        shell: bash
        env:
          # Feel free to rename this variable, but make sure to update it everywhere. You should paste your entire file in your secrets
          SECRET_H: ${{secrets.SECRET_H}}

      - name: env
        run: ls -al;pwd;python --version
      - name: prepare
        run: qmk clone -b firmware25 zsa/qmk_firmware ./qmk
      - name: setup qmk
        run: qmk setup -H ./qmk -y
      - name: inject src
        run: |
          cp -rf voyager_codingfragments ./qmk/keyboards/zsa/voyager/keymaps/codingfragments
          mkdir -p ./qmk/keyboards/zsa/voyager/keymaps/codingfragments/include
          cp secrets.h ./qmk/keyboards/zsa/voyager/keymaps/codingfragments/include/
      - name: build
        run: qmk compile -kb zsa/voyager -km default
        
